<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
/>
<style>
  @import url('https://fonts.googleapis.com/css?family=Barlow|Tomorrow&display=swap');
  </style>
<link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/d28fca83f8.js"></script>
<link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet" />
<title>{{ .Title }}</title>