<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<style>
  @import url('https://fonts.googleapis.com/css?family=Barlow|Tomorrow&display=swap');
  </style>
<link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/d28fca83f8.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet" />
<title>{{ .Title }}</title>